<h1> Part 2 - Assignment week 3 - Data science capstone</h1>

In part 1 we ended with the dataframe with all the postal codes, boroughs and neighbourhoods in Toronto. I made a csv from it, which i will use again here.

importing pandas library

In [2]:
import pandas as pd

downloading the postal codes with coordinates dataset

In [3]:
!wget -q -O 'postaldata.csv' https://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [5]:
#reading the csv postaldata.csv into a dataframe
dfpostal = pd.read_csv('postaldata.csv')
dfpostal.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
#reading the csv from part 1 
#(Postalpart1.csv) into a dataframe 
# index_col = 0, otherwise we would have a double indexcolumn. 
dfna = pd.read_csv('postalpart1.csv', index_col=0)
dfna.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Now we have to merge the dataframes into 1 dataframe

In [40]:
#In this step i am merging the two dataframes
#setting the variables df1 and df2
#naming the new dataframe df3
#joining on the postal value
df1=dfna # first dataframe  
#renaming the column name in the first dataframe so it matches with the second
df1 = df1.rename(columns={'Postcode': 'Postal Code'})
df2=dfpostal #second dataframe
df3 = pd.merge(df1,df2,on=['Postal Code']) #merging the dataframes based on postalcode
df3 #seeing the new dataframe

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [44]:
#saving this dataframe for later use and naming it
df3.to_csv('Part 2 - dataframe coordinates and postal codes.csv')